<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nick.ultimatespacefighter">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartMenu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".singlePlayer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".singlePlayerGame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doublePlayer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".End"
            android:screenOrientation="portrait" />
        <activity android:name=".doublePlayerTwo" />
        <activity android:name=".doublePlayerOne"></activity>
    </application>

</manifest>